<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to 99Cats!</title>
  </head>
  <body>
    <h1>Hello and welcome to 99Cats, <%= @user.username %>!</h1>
    <p>You have successfully signed up for 99Cats!</p>
    <br>
    <p>Follow this link to log back in to the site: <%= @url %></p>
    <p>Thanks for joing and enjoy the adorable balls of fluff!</p>
  </body>
</html>
